@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/src/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: 1;
  height: 700px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url("/src/images/bg-header-mobile.png");
  }
}
